<div class="row">
    <div class="col-xs-12">
        <img [src]="selectedRecipe.imagePath" alt="{{ selectedRecipe.name }}" class="img-responsive" width="200" height="200">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ selectedRecipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
              Manage Recipe
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">To Shopping List</a></li>
              <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ selectedRecipe.description }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>