<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit
            (addIngredient)="addNewIngredient($event)"
        ></app-shopping-edit>
        <hr>
        <div class="col-xs-12 list-group">
            <a  
                href="#" 
                class="list-group-item d-flex justify-content-between align-items-start" 
                *ngFor="let ingredient of ingredients"
            >
                {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </div>
    </div>
</div>
